@page
@model Tutor_Books.Pages_BooksAdmin.CreateModel

@{
    ViewData["Title"] = "สร้างหัวข้อวิชาใหม่";
}

<h2>สร้างหัวข้อวิชาใหม่</h2>

<h4>เลือกข้อมูลดังต่อไปนี้</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                เลือกวิชา
                <select asp-for="Books.BooksCategoryID" class ="form-control" asp-items="ViewBag.BooksCategoryID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
