@page
@model Tutor_Books.Pages_BooksAdmin.DeleteModel

@{
    ViewData["Title"] = "ลบ";
}

<h2>ลบ</h2>

<h3>คุณแน่ใจหรือว่าต้องการลบสิ่งนี้?</h3>
<div>
    <h4>หัวข้อวิชา</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            วิชา
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Books.BooksCat.Subject)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Books.BooksID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
