@page
@model Tutor_Books.Pages_BooksAdmin.DetailsModel

@{
    ViewData["Title"] = "รายละเอียด";
}

<h2>รายละเอียด</h2>

<div>
    <h4>หัวข้อวิชา</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            วิชา
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Books.BooksCat.Subject)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Books.BooksID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
