@page
@model Tutor_Books.Pages_BooksAdmin.IndexModel

@{
    ViewData["Title"] = "โพสวิชาใหม่";
}

<h2>โพสวิชาใหม่</h2>

<p>
    <a asp-page="Create">สร้างวิชาใหม่</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                วิชา
            </th>
            <th>
                สถานที่
            </th>
            <th>
                เวลา
            </th>
            <th>
                ชั่วโมง
            </th>
            <th>
                ราคา
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Books) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BooksCat.Subject)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.BooksCat.place)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BooksCat.time)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.BooksCat.hour)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.BooksCat.price)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.BooksID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.BooksID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.BooksID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
