﻿@page
@model IndexModel
@{
    ViewData["Title"] = "PSU Tutor Books";
}

<div class="jumbotron">
    <center><h1>PSU Tutor Books</h1></center>
</div>
<br>
<div class="row"> <h3> ประกาศ วิชาที่เปิดติว</h3> 
<table class="table"> 
<thead> 
    <tr> 
        <th>วิชา</th>
        <th>สถานที่</th>
        <th>เวลา</th>
        <th>ชั่วโมง</th>
        <th>ราคา</th>
    </tr> 
</thead> 
<tbody>
@foreach (var item in Model.BooksCategory) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.place)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
        </tr>
}
</tbody> 
</table> 
</div>

