@page
@model Tutor_Books.Pages.BooksCategoryAdmin.EditModel

@{
    ViewData["Title"] = "แก้ไข";
}

<h2>แก้ไข</h2>

<h4>หัวข้อวิชา</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BooksCategory.BooksCategoryID" />
            <div class="form-group">
                วิชา
                <input asp-for="BooksCategory.Subject" class="form-control" />
                <span asp-validation-for="BooksCategory.Subject" class="text-danger"></span>
            </div>
            <div class="form-group">
                สถานที่
                <input asp-for="BooksCategory.place" class="form-control" />
                <span asp-validation-for="BooksCategory.place" class="text-danger"></span>
            </div>
            <div class="form-group">
                เวลา
                <input asp-for="BooksCategory.time" class="form-control" />
                <span asp-validation-for="BooksCategory.time" class="text-danger"></span>
            </div>
            <div class="form-group">
                ชั่วโมง
                <input asp-for="BooksCategory.hour" class="form-control" />
                <span asp-validation-for="BooksCategory.hour" class="text-danger"></span>
            </div>
            <div class="form-group">
                ราคา
                <input asp-for="BooksCategory.price" class="form-control" />
                <span asp-validation-for="BooksCategory.price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
